extends base.pug
block scripts 
  script(src="/static/script.js")
block style 
  style 
    include ../static/style.css 
    include ../static/styleabout.css 
block content 
  div.container 
    h1 About our Academy 
    p Dance in India comprises numerous styles of dances, generally classified as classical or folk.[1] As with other aspects of Indian culture, different forms of dances originated in different parts of India, developed according to the local traditions and also imbibed elements from other parts of the country.[2]

      | Sangeet Natya Academy, the national academy for performing arts in India, recognizes eight traditional dances as Indian classical dances,[3] while other sources and scholars recognize more.[4][5] These have roots in the Sanskrit text Natya Shastra,[1] and the religious performance arts of Hinduism.[6][7][8]

      | Folk dances are numerous in number and style and vary according to the local tradition of the respective state, ethnic or geographic regions. Contemporary dances include refined and experimental fusions of classical, folk and Western forms. Dancing traditions of India have influence not only over the dances in the whole of South Asia, but on the dancing forms of South East Asia as well. Dances in Indian films, like Bollywood Dance for Hindi films, are often noted for freeform expression of dance and hold a significant presence in popular culture of the Indian subcontinent.[9]
