extends base.pug
block scripts 
  script(src="/static/script.js")
block style 
  style 
    include ../static/style.css 
    include ../static/styleclassinfo.css 
block content 
  section#class 
    div.container 
      h2 Class Info
      div.box 
        h3 Timings
        p Morning:- 8:30am to 11:00am
        p Afternoon:- 12:00noon to 4:00pm
        p Evening:- 6:00pm to 8:30pm  
      div.box 
        h3 contact Person
        p Neha Khera
        p Mob.no.:- 6307263800
        p Email id:- nehakhera669@gmail.com
      div.box 
        h3 Address
        p A/196 Rajajipuram
        p Lucknow
        p Uttarpradesh 
      div.box 
        h3 Fee Required
        p 20000/- Per month
        p Hostel fee:- 5000/- per month
        p cab Fee:- 15000/- Per year  