extends base.pug
block scripts 
  script(src="/static/script.js")
block style 
  style 
    include ../static/style.css 
    include ../static/styleservices.css 
block content 
  div.container
    h1 Services Provided
    ul 
      li We will provide a cab facility for worth rs. 500/- per month 
      li Separate vanity for every student during concert 
      li Free constume for every student during concert 
      li Separate practice room for each dance form 
      li Hostel facilty for students belonging to other city 
      li Fee for hostel is rs.5000/- per month 
      li Awesome mess food.
      li Free gym.
      li Free medical facility.
      li Free wifi 
      li Amazing quality of music system 
      li Best choreographers will train the students   