
h1{
    text-align: center;
    margin-top: 5px;
    color: rgb(236, 240, 16);
}
.container p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 300px;
    color: rgb(60, 237, 243);

}
.container{
    background:  center/ cover no-repeat url(/static/Dance.jpg);
    height: 600px;
    border: 2px solid black;
}

